@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a.text-white {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.7em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
}

input[type="number"] {
  border: solid 1px white;
  border-radius: 4px;
  padding: .25rem .5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fixed {
  z-index: 999;
}

select {
  background-color: black;
}

@layer utilities {
  .grid-cols-12-dynamic {
    grid-template-columns: repeat(var(--buff-rows), var(--buff-min-width));
  }

  .buff-grid {
    grid-template-columns: repeat(12,minmax(0,27px));
  }
}

:root, :host {
  --font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --color-red-500: #d9474f;    /* oklch(63.7% .237 25.331) */
  --color-red-700: #9f3a3f;    /* oklch(50.5% .213 27.518) */
  --color-yellow-500: #e4cb64; /* oklch(79.5% .184 86.047) */
  --color-yellow-700: #bda94b; /* oklch(55.4% .135 66.442) */
  --color-green-500: #4cb35a;  /* oklch(72.3% .219 149.579) */
  --color-green-700: #3a8a43;  /* oklch(52.7% .154 150.069) */
  --color-blue-500: #3b7dd5;   /* oklch(62.3% .214 259.815) */
  --color-blue-600: #3162bb;   /* oklch(54.6% .245 262.881) */
  --color-blue-700: #2b52a1;   /* oklch(48.8% .243 264.376) */
  --color-indigo-500: #4e5ebd; /* oklch(58.5% .233 277.117) */
  --color-indigo-700: #3b498f; /* oklch(45.7% .24 277.023) */
  --color-gray-300: #dedfe3;   /* oklch(87.2% .01 258.338) */
  --color-gray-400: #a8abb3;   /* oklch(70.7% .022 261.325) */
  --color-gray-500: #717783;   /* oklch(55.1% .027 264.364) */
  --color-gray-600: #535863;   /* oklch(44.6% .03 256.802) */
  --color-gray-700: #404553;   /* oklch(37.3% .034 259.733) */
  --color-gray-800: #2e3341;   /* oklch(27.8% .033 256.848) */
  --color-gray-900: #232934;   /* oklch(21% .034 264.665) */
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #FFFFFF;

  /* Gray scale */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-slate-900: #1a1a1a;

  /* Red scale */
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;

  /* Yellow scale */
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-600: #d97706;
  --color-yellow-700: #b45309;
  --color-yellow-800: #92400e;
  --color-yellow-900: #78350f;

  /* Green scale */
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;

  /* Blue scale */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  /* Indigo scale */
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;

  /* Zing Scale */

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;

  /* Purple scale */
  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;

  /* Pink scale */
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fbcfe8;
  --color-pink-300: #f9a8d4;
  --color-pink-400: #f472b6;
  --color-pink-500: #ec4899;
  --color-pink-600: #db2777;
  --color-pink-700: #be185d;
  --color-pink-800: #9d174d;
  --color-pink-900: #831843;
  --spacing: .25rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1/.75);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75/1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2/1.5);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5/2.25);
  --font-weight-bold: 700;
  --radius-lg: .5rem;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}