@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fixed {
  z-index: 999;
}

select {
  background-color: black;
}

@layer utilities {
  .grid-cols-12-dynamic {
    grid-template-columns: repeat(var(--buff-rows), var(--buff-min-width));
  }
}

.cache-break {
  --ryan-is-short: #aaaaaa;
}

:root, :host {
  --font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --color-red-500: #d9474f;    /* oklch(63.7% .237 25.331) */
  --color-red-700: #9f3a3f;    /* oklch(50.5% .213 27.518) */
  --color-yellow-500: #e4cb64; /* oklch(79.5% .184 86.047) */
  --color-yellow-700: #bda94b; /* oklch(55.4% .135 66.442) */
  --color-green-500: #4cb35a;  /* oklch(72.3% .219 149.579) */
  --color-green-700: #3a8a43;  /* oklch(52.7% .154 150.069) */
  --color-blue-500: #3b7dd5;   /* oklch(62.3% .214 259.815) */
  --color-blue-600: #3162bb;   /* oklch(54.6% .245 262.881) */
  --color-blue-700: #2b52a1;   /* oklch(48.8% .243 264.376) */
  --color-indigo-500: #4e5ebd; /* oklch(58.5% .233 277.117) */
  --color-indigo-700: #3b498f; /* oklch(45.7% .24 277.023) */
  --color-gray-300: #dedfe3;   /* oklch(87.2% .01 258.338) */
  --color-gray-400: #a8abb3;   /* oklch(70.7% .022 261.325) */
  --color-gray-500: #717783;   /* oklch(55.1% .027 264.364) */
  --color-gray-600: #535863;   /* oklch(44.6% .03 256.802) */
  --color-gray-700: #404553;   /* oklch(37.3% .034 259.733) */
  --color-gray-800: #2e3341;   /* oklch(27.8% .033 256.848) */
  --color-gray-900: #232934;   /* oklch(21% .034 264.665) */
  --color-black: #000000;
  --color-white: #ffffff;
  --spacing: .25rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1/.75);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75/1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2/1.5);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5/2.25);
  --font-weight-bold: 700;
  --radius-lg: .5rem;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}